<div class="row  py-2">

    <div class="col-lg-3  col-sm-12 col-xs-12">
        <div class="card-1">
            <div class="card-header">НОМІНАЦІЯ, млн м&#179;</div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card-parameter"> 
                            <div class="card-parameter">
                                <span class="text-accent-1 text-main" app-table-cell [key]="'1611012.63'" [data]="dataMap"  [dt]="iso"  [k]="0.001" [fixed]="3"></span>           
                            </div>
                            <div class="card-adds">
                                <span class="card-label">відбір: </span>
                                <span class="text-accent-2 text-second">-</span>
                                <span class="text-accent-2 text-second" app-table-cell [key]="'611013.63'" [data]="dataMap"  [dt]="iso"  [k]="0.001" [fixed]="3"></span>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="card-label">закачка: </span>
                                <span class="text-accent-3 text-second" app-table-cell [key]="'611012.63'" [data]="dataMap"  [dt]="iso"  [k]="0.001" [fixed]="3"></span>                                        
                            </div>
                        </div>                                
                    </div>
                </div>

                <div class="row g-1">
                    <div class="col">
                        <div class="card-parameter"> 
                            <table>
                                <tr>
                                    <td><span class="card-label">ОСН.</span></td>
                                    <td><span class="card-label">СКЛАД:</span></td>
                                    <td>
                                        <app-inject-withdr-text [key]="'36.63'" [data]="dataMap"  [dt]="iso"  [k]="0.001" [fixed]="3"></app-inject-withdr-text>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="card-label">НАК:</span></td>
                                    <td><span class="text-accent-2 text-3">-</span>
                                        <span class="text-accent-2 text-3" app-table-cell [key]="'611066.63'" [data]="dataMap"  [dt]="iso"  [k]="0.001" [fixed]="3"></span></td>
                                    <td><span class="text-accent-3 text-3" app-table-cell [key]="'611077.63'" [data]="dataMap"  [dt]="iso"  [k]="0.001" [fixed]="3"></span></td>
                                </tr>
                                <tr>
                                    <td><span class="card-label">ТОВ:</span></td>
                                    <td><span class="text-accent-2 text-3">-</span>
                                        <span class="text-accent-2 text-3" app-table-cell [key]="'611067.63'" [data]="dataMap"  [dt]="iso"  [k]="0.001" [fixed]="3"></span></td>
                                    <td><span class="text-accent-3 text-3" app-table-cell [key]="'611078.63'" [data]="dataMap"  [dt]="iso"  [k]="0.001" [fixed]="3"></span></td>
                                </tr>
                                <tr>
                                    <td><span class="card-label">рези:</span></td>
                                    <td><span class="text-accent-2 text-3">-</span>
                                        <span class="text-accent-2 text-3" app-table-cell [key]="'611068.63'" [data]="dataMap"  [dt]="iso"  [k]="0.001" [fixed]="3"></span></td>
                                    <td><span class="text-accent-3 text-3" app-table-cell [key]="'611079.63'" [data]="dataMap"  [dt]="iso"  [k]="0.001" [fixed]="3"></span></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><span class="card-label">&sum;:</span></td>
                                    <td><span class="text-accent-2 text-3 px-0">-</span>
                                        <span class="text-accent-2 text-3" app-table-cell [key]="'34.63'" [data]="dataMap"  [dt]="iso"  [k]="0.001" [fixed]="3"></span></td>
                                    <td><span class="text-accent-3 text-3" app-table-cell [key]="'35.63'" [data]="dataMap"  [dt]="iso"  [k]="0.001" [fixed]="3"></span></td>
                                </tr>
                            </table>
    
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-parameter"> 
                            <table>
                                <tr>
                                    <td><span class="card-label">МИТ.</span></td>
                                    <td><span class="card-label">СКЛАД:</span></td>
                                    <td>
                                        <app-inject-withdr-text [key]="'33.63'" [data]="dataMap"  [dt]="iso"  [k]="0.001" [fixed]="3"></app-inject-withdr-text>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="card-label">НАК:</span></td>
                                    <td><span class="text-accent-2 text-3">-</span>
                                        <span class="text-accent-2 text-3" app-table-cell [key]="'37.63'" [data]="dataMap"  [dt]="iso"  [k]="0.001" [fixed]="3"></span></td>
                                    <td><span class="text-accent-3 text-3" app-table-cell [key]="'38.63'" [data]="dataMap"  [dt]="iso"  [k]="0.001" [fixed]="3"></span></td>
                                </tr>
                                <tr>
                                    <td><span class="card-label">рези:</span></td>
                                    <td><span class="text-accent-2 text-3">-</span>
                                        <span class="text-accent-2 text-3" app-table-cell [key]="'39.63'" [data]="dataMap"  [dt]="iso"  [k]="0.001" [fixed]="3"></span></td>
                                    <td><span class="text-accent-3 text-3" app-table-cell [key]="'40.63'" [data]="dataMap"  [dt]="iso"  [k]="0.001" [fixed]="3"></span></td>
                                </tr>
                                <tr>
                                    <td><span class="card-label">нерези:</span></td>
                                    <td><span class="text-accent-2 text-3">-</span>
                                        <span class="text-accent-2 text-3" app-table-cell [key]="'41.63'" [data]="dataMap"  [dt]="iso"  [k]="0.001" [fixed]="3"></span></td>
                                    <td><span class="text-accent-3 text-3" app-table-cell [key]="'42.63'" [data]="dataMap"  [dt]="iso"  [k]="0.001" [fixed]="3"></span></td>
                                </tr>
                                <tr>
                                    <td><span class="card-label">&sum;:</span></td>
                                    <td><span class="text-accent-2 text-3">-</span>
                                        <span class="text-accent-2 text-3" app-table-cell [key]="'31.63'" [data]="dataMap"  [dt]="iso"  [k]="0.001" [fixed]="3"></span></td>
                                    <td><span class="text-accent-3 text-3" app-table-cell [key]="'32.63'" [data]="dataMap"  [dt]="iso"  [k]="0.001" [fixed]="3"></span></td>
                                </tr>
                            </table>                            
                        </div>
                    </div>
                </div>    
            </div>




            <div class="card-chart">
                <app-op-data3-line-chart [k]="1" [isDark]="isDark"
                    [key1]="'1611012.63'" [key2]="'611012.63'" [key3]="'611013.63'" 
                    [data]="dataMap" 
                    [label1]="'різниця'" [label2]="'закачка'" [label3]="'відбір'">
                </app-op-data3-line-chart>
            </div>
            <div class="card-footer">детально ></div>
        </div>
    </div>

    <div class="col-lg-3  col-sm-12 col-xs-12">
        <div class="card-1">
            <div class="card-header">ТОРГОВІ СПОВІЩЕННЯ</div>
            <div class="row">
                <div class="card-parameter">                
                    <div class="text-accent-1 text-main" app-table-cell [key]="'611021.63'" [data]="dataMap"  [dt]="iso"  [k]="0.001" [fixed]="3"></div>
                    <div>
                        <span class="text-accent-1">об'єм, млн м&#179;</span>
                    </div>
                </div>
                <div class="card-parameter">                
                    <div class="text-accent-2 text-main" app-table-cell [key]="'611020.63'" [data]="dataMap"  [dt]="iso"  [fixed]="0"></div>
                    <div>
                        <span class="text-accent-2">кількість пар</span>
                    </div>
                </div>    
            </div>
            
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card-parameter">
                            <table>
                                <tr>
                                    <td><span class="card-label">ТС ОС:</span></td>
                                    <td><span class="text-accent-1 text-3" app-table-cell [key]="'43.63'" [data]="dataMap"  [dt]="iso"  [k]="0.001" [fixed]="3"></span></td>
                                </tr>
                                <tr>
                                    <td><span class="card-label">ТС МС:</span></td>
                                    <td><span class="text-accent-1 text-3" app-table-cell [key]="'611034.63'" [data]="dataMap"  [dt]="iso"  [k]="0.001" [fixed]="3"></span></td>
                                </tr>
                                <tr>
                                    <td><span class="card-label">ТС МС SH:</span></td>
                                    <td><span class="text-accent-1 text-3" app-table-cell [key]="'611036.63'" [data]="dataMap"  [dt]="iso"  [k]="0.001" [fixed]="3"></span></td>
                                </tr>
                                <tr>
                                    <td><span class="card-label">ТС АТ набуття:</span></td>
                                    <td><span class="text-accent-1 text-3" app-table-cell [key]="'611089.63'" [data]="dataMap"  [dt]="iso"  [k]="0.001" [fixed]="3"></span></td>
                                </tr>
                                <tr>
                                    <td><span class="card-label">ТС АТ відчуж:</span></td>
                                    <td><span class="text-accent-1 text-3" app-table-cell [key]="'611088.63'" [data]="dataMap"  [dt]="iso"  [k]="0.001" [fixed]="3"></span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-parameter">
                            <table>
                                <tr>
                                    <td><span class="card-label">ТС ОС:</span></td>
                                    <td><span class="text-accent-2 text-3" app-table-cell [key]="'44.63'" [data]="dataMap"  [dt]="iso"  [k]="1" [fixed]="0"></span></td>
                                </tr>
                                <tr>
                                    <td><span class="card-label">ТС МС:</span></td>
                                    <td><span class="text-accent-2 text-3" app-table-cell [key]="'611033.63'" [data]="dataMap"  [dt]="iso"  [k]="1" [fixed]="0"></span></td>
                                </tr>
                                <tr>
                                    <td><span class="card-label">ТС МС SH:</span></td>
                                    <td><span class="text-accent-2 text-3" app-table-cell [key]="'611035.63'" [data]="dataMap"  [dt]="iso"  [k]="1" [fixed]="0"></span></td>
                                </tr>
                                <tr>
                                    <td><span class="card-label">ТС АТ:</span></td>
                                    <td><span class="text-accent-2 text-3" app-table-cell [key]="'611090.63'" [data]="dataMap"  [dt]="iso"  [k]="1" [fixed]="0"></span></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card-chart">
                <app-op-data3-line-chart [k]="1" [isDark]="isDark"
                    [key1]="'611021.63'" [key3]="'611020.63'"  
                    [data]="dataMap" 
                    [label1]="'об\'єм'" [label3]="'кількість'" 
                                        [yAxisID3]="'y-axis-1'">
                </app-op-data3-line-chart>
            </div>
            
            <div class="card-footer">детально ></div>
        </div>
    </div>

    <div class="col-lg-3  col-sm-12 col-xs-12">
        <div class="card-1">
            <div class="card-header">ТЕХНІЧНА ПОТУЖНІСТЬ, млн м&#179;</div>
            <div class="row">
                <div class="card-parameter">                
                    <div class="text-accent-2 text-main" app-table-cell [key]="'611055.63'" [data]="dataMap"  [dt]="iso"  [k]="0.001" [fixed]="3"></div>
                    <div>
                        <span class="text-accent-2">відбір</span>
                    </div>
                </div>
                <div class="card-parameter">                
                    <div class="text-accent-3 text-main" app-table-cell [key]="'611054.63'" [data]="dataMap"  [dt]="iso"  [k]="0.001" [fixed]="3"></div>
                    <div>
                        <span class="text-accent-3">закачка</span>
                    </div>
                </div>    
            </div>
            
            <div class="card-chart">
                <app-op-data3-line-chart [k]="1" [isDark]="isDark"
                    [key3]="'611055.63'" [key2]="'611054.63'"  
                    [data]="dataMap" 
                    [label3]="'потуж відбору'" [label2]="'потуж закачки'" >
                </app-op-data3-line-chart>
            </div>
            
            <div class="card-footer">детально ></div>
        </div>
    </div>

    <div class="col-lg-2  col-sm-12 col-xs-12">
        <div class="card-1">
            <div class="card-header">РОБОЧИЙ ОБСЯГ, млн м&#179;</div>            
            <div class="card-chart">
                <app-op-data-pie1-chart [key]="'611106'" [data]="dataMap" [k]="0.001" [dt]="iso" [isDark]="isDark"></app-op-data-pie1-chart>
            </div>            
            <div class="card-footer">детально ></div>
        </div>
    </div>
</div>

<div class="row  py-2">
    <div class="col-lg-3  col-sm-12 col-xs-12">
        <div class="card-1">
            <div class="card-header">ЦІНА ГАЗУ, грн</div>
            <div class="row">
                <div class="card-parameter">                
                    <div class="text-accent-1 text-main" app-table-cell [key]="'9900321.63'" [data]="dataMap"  [dt]="iso"  [k]="0.001" [fixed]="3"></div>
                    <div>
                        <span class="text-accent-1">ТОВ</span>
                    </div>
                </div>
                <div class="card-parameter">                
                    <div class="text-accent-2 text-main" app-table-cell [key]="'9900320.63'" [data]="dataMap"  [dt]="iso"  [k]="0.001" [fixed]="3"></div>
                    <div>
                        <span class="text-accent-2">TTF</span>
                    </div>
                </div>    
            </div>
            
            <div class="card-chart">
                <app-op-data3-line-chart [k]="1" [isDark]="isDark"
                    [key3]="'9900320.63'" [key1]="'9900321.63'"  
                    [data]="dataMap" 
                    [label3]="'TTF'" [label1]="'ТОВ'" 
                                        >
                </app-op-data3-line-chart>
            </div>
            
            <div class="card-footer">детально ></div>
        </div>
    </div>
    <div class="col-lg-3  col-sm-12 col-xs-12">
        <div class="card-1">
            <div class="card-header">ОБР, млн м&#179;</div>
            <div class="row">
                <div class="card-parameter">                
                    <div class="text-accent-1 text-main" app-table-cell [key]="'611010.1063'" [data]="dataMap"  [dt]="iso"  [k]="0.000001" [fixed]="3"></div>
                    <div>
                        <span class="text-accent-1">за добу</span>
                    </div>
                </div>
                <div class="card-parameter">                
                    <div class="text-accent-2 text-main" app-table-cell [key]="'611011.1068'" [data]="dataMap"  [dt]="iso"  [k]="0.000001" [fixed]="3"></div>
                    <div>
                        <span class="text-accent-2">наростаючий</span>
                    </div>
                </div>    
            </div>
            
            <div class="card-chart">
                <app-op-data3-line-chart [k]="0.000001" [isDark]="isDark"
                    [key1]="'611010.1063'" [key3]="'611011.1068'"  
                    [data]="dataMap" 
                    [label1]="'за добу'" [label3]="'наростаючий'" 
                                        [yAxisID3]="'y-axis-1'">
                </app-op-data3-line-chart>
            </div>
            
            <div class="card-footer">детально ></div>
        </div>
    </div>
    

    <div class="col-lg-3  col-sm-12 col-xs-12">
        <div class="card-1">
            <div class="card-header">ЗАМОВНИКИ ПОСЛУГ</div>
            <div class="row">
                <div class="col-6">
                    <div class="card-parameter-chart-container">
                        <div>
                            <span class="card-label">кількість зп в добі</span>
                        </div>
                            <app-op-data2-pie-chart [k]="1" [isDark]="isDark" [dt]="iso" [type]="'type1'"
                            [key1]="'611102.63'" [key2]="'611103.63'"  
                            [data]="dataMap">
                            </app-op-data2-pie-chart>
                        <div>
                            <span class="card-label">загально: </span><span class="text-accent-3 text-second" app-table-cell [key]="'611102.63'" [data]="dataMap"  [dt]="iso"  [k]="1" [fixed]="0"></span>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card-parameter-chart-container">
                        <div>
                            <span class="card-label">кількість країн зп в добі</span>
                        </div>
                            <app-op-data2-pie-chart [k]="1" [isDark]="isDark" [dt]="iso"  [type]="'type2'"
                            [key1]="'611104.63'" [key2]="'611105.63'"  
                            [data]="dataMap">
                            </app-op-data2-pie-chart>                         
                        <div>
                            <span class="card-label">загально: </span><span class="text-accent-2 text-second" app-table-cell [key]="'611104.63'" [data]="dataMap"  [dt]="iso"  [k]="1" [fixed]="0"></span>
                        </div>
                        </div>
                </div>        
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="card-parameter-chart-container">
                        <div>
                            <span class="card-label">к-сть ЗП, що ном по ОС</span>
                        </div>
                        
                        <div class="text-accent-2 float-end">на ВІДБІР
                            <span class="text-accent-2 text-second" app-table-cell [key]="'49.63'" 
                            [data]="dataMap"  [dt]="iso"  [k]="1" [fixed]="0"></span>
                        </div>

                        <app-op-data3-pie-chart [k]="1" [isDark]="isDark" [dt]="iso" 
                        [key1]="'45.63'" [key2]="'49.63'"  
                        [data]="dataMap">
                        </app-op-data3-pie-chart>

                        <div class="text-accent-3">на ЗАКАЧКУ
                            <span class="text-accent-3 text-second" app-table-cell [key]="'45.63'" 
                            [data]="dataMap"  [dt]="iso"  [k]="1" [fixed]="0"></span>
                        </div>

                    </div>
                </div>

                <div class="col-6">
                    <div class="card-parameter-chart-container">
                        <div>
                            <span class="card-label">к-сть ЗП, що ном по МС</span>
                        </div>
                        
                        <div class="text-accent-2 float-end">на ВІДБІР
                            <span class="text-accent-2 text-second" app-table-cell [key]="'611134.63'" 
                            [data]="dataMap"  [dt]="iso"  [k]="1" [fixed]="0"></span>
                        </div>

                        <app-op-data3-pie-chart [k]="1" [isDark]="isDark" [dt]="iso" 
                        [key1]="'611132.63'" [key2]="'611134.63'"  
                        [data]="dataMap">
                        </app-op-data3-pie-chart>  

                        <div class="text-accent-3">на ЗАКАЧКУ
                            <span class="text-accent-3 text-second" app-table-cell [key]="'611132.63'" 
                            [data]="dataMap"  [dt]="iso"  [k]="1" [fixed]="0"></span>
                        </div>
                    </div>        
            </div>            
            </div>
            <div class="card-footer"> 
                <button type="button" class="btn btn-link" (click)="onNavigate('/dashboards/commerse/customer',{})" >детально ></button>
            </div>
        </div>
    </div>
    
    <div class="col-lg-3  col-sm-12 col-xs-12">
        <div class="card-1">
            <div class="card-header">ЗБЕРІГАЄТЬСЯ ГАЗУ, млн м&#179;</div>
            
            <div class="card-chart">
                <app-op-data-bar3-chart [k]="0.001" [isDark]="isDark" [dt]="iso" [ylabel]="'ОС'"
                    [key1]="'611017.63'" [key2]="'611059.63'" [key3]="'611061.63'"  
                    [data]="dataMap"
                    [label1]="'ТОВ'" [label2]="'НАК'" [label3]="'резиденти'"
                    >
                </app-op-data-bar3-chart>
            </div>
            <div class="card-chart">
                <app-op-data-bar3-chart [k]="0.001" [isDark]="isDark" [dt]="iso" [ylabel]="'МС'"
                    [key1]="'1611031.63'" [key2]="'1611039.63'" [key3]="'1611028.63'"  
                    [data]="dataMap"
                    [label1]="'нерезиденти'" [label2]="'НАК'" [label3]="'резиденти'"
                    >
                </app-op-data-bar3-chart>
            </div>
            
            <div class="card-footer">детально ></div>
        </div>
    </div>

</div>





 

    








