<div class="mb-2">
    <app-popup-range-selector [start]="(range$ | async)!" (changed)="onRangeChanged($event)"></app-popup-range-selector>    
</div>


<div class="d-flex justify-content-between flex-wrap  align-items-center border-bottom"> 

<div class="card">
    <app-op-data-line-chart [key]="'7000001.52'" [data]="dataMap" [title]="'Оператор ГСУ, тех-активний, млн.м3'"></app-op-data-line-chart>
</div>

<div class="card">
    <app-op-data-line-chart [key]="'906024.52'" [data]="dataMap" [title]="'ПСГ Більче-Волицько-Угерське, тех-активний, млн.м3'"></app-op-data-line-chart>
</div>
 

<div class="card">
    <app-op-data-line-chart [key]="'906023.52'" [data]="dataMap" [title]="'ПСГ Угерське, тех-активний, млн.м3'"></app-op-data-line-chart>
</div>

<div class="card">
    <app-op-data-line-chart [key]="'906022.52'" [data]="dataMap" [title]="'ПСГ Дашавське, тех-активний, млн.м3'"></app-op-data-line-chart>
</div>

<div class="card">
    <app-op-data-line-chart [key]="'906021.52'" [data]="dataMap" [title]="'ПСГ Опарське, тех-активний, млн.м3'"></app-op-data-line-chart>
</div>

<div class="card">
    <app-op-data-line-chart [key]="'903031.52'" [data]="dataMap" [title]="'ПСГ Богородчанське, тех-активний, млн.м3'"></app-op-data-line-chart>
</div>

</div>