<td>
    <div class="parameter">
        <div class="parameter-year">
            {{tds[0]}}
        </div>
        <div class="parameter-label">
            з початку року
        </div>
    </div>
</td>
<td>
    <div class="parameter">
        <div class="parameter-month">
            {{tds[1]}}
        </div>
        <div class="parameter-label">
            з початку місяця
        </div>
    </div>    
</td>
<td>
    <div class="parameter">
        <div class="parameter-instant">
            {{tds[2]}}
        </div>
        <div class="parameter-label">
            минула доба
        </div>
    </div>    
</td>

