
<div class="d-flex justify-content-between flex-wrap  align-items-center border-bottom"> 
    <div class="card">
        <app-forecast-city-line [key]="25" [data]="dataMap" [title]="'Україна, загалом'" ></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="1" [data]="dataMap" [title]="'Вінниця'" ></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="2" [data]="dataMap" [title]="'Луцьк'" ></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="3" [data]="dataMap" [title]="'Дніпро'" ></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="4" [data]="dataMap" [title]="'Донецьк'" ></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="5" [data]="dataMap" [title]="'Житомир'" ></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="6" [data]="dataMap" [title]="'Ужгород'" ></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="7" [data]="dataMap" [title]="'Запоріжжя'" ></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="8" [data]="dataMap" [title]="'Івано-Франківськ'" ></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="9" [data]="dataMap" [title]="'Київ'" ></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="10" [data]="dataMap" [title]="'Кропивницький'" ></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="11" [data]="dataMap" [title]="'Луганськ'" ></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="12" [data]="dataMap" [title]="'Львів'" ></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="13" [data]="dataMap" [title]="'Миколаїв'" ></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="14" [data]="dataMap" [title]="'Одеса'" ></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="15" [data]="dataMap" [title]="'Полтава'" ></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="16" [data]="dataMap" [title]="'Рівне'" ></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="17" [data]="dataMap" [title]="'Суми'" ></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="18" [data]="dataMap" [title]="'Тернопіль'" ></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="19" [data]="dataMap" [title]="'Харків'" ></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="20" [data]="dataMap" [title]="'Херсон'" ></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="21" [data]="dataMap" [title]="'Хмельницький'" ></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="22" [data]="dataMap" [title]="'Черкаси'" ></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="23" [data]="dataMap" [title]="'Чернівці'" ></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="24" [data]="dataMap" [title]="'Чернігів'" ></app-forecast-city-line>
    </div>



</div>
