.text-accent-1 {
    color: var(--color-option-3);
    font-weight: bold;
}
.text-accent-2 {
    color: var(--color-option-5);
    font-weight: bold;
}
.text-accent-3 {
    color: var(--color-option-4);
    font-weight: bold;
}

.text-main {
    font-size: xx-large;
}

.text-second {
    font-size: large;
}