.card {
    display: block;
    background-color: bisque;
    margin: 0.2em;
    position: relative;
    border-radius: 0.375em;
}

.card-pzg {
    display: block;
    background-color: LightGoldenRodYellow;
    margin: 0.2em;
    position: relative;
    border-radius: 0.375em;
}

.card-l {
    display: block;
    background-color: lavender;
    margin: 0.2em;
    position: relative;
    border-radius: 0.375em;
}

table {
    font-size: 0.6em;
}