th, td {
    font-size: 0.7em;
}

.btn-second-class {
    height: 25px;
    color: black;
    font-weight: bold;
    font-size: 10px;
    background-color: rgb(161, 180, 190);
    width: 100%;
}

.table-wrapper {
    background-color: rgb(161, 180, 190);
}

.table {
    text-align: center;
}