.card {
    border-radius: 0.5em;
}

.header {
    font-size: 0.7em;
    color: var(--color-option-3);
    font-weight: bold;
    text-align: center;
}

.header-white {
    border: 1px;
    border-color: black;
}

.label {
    font-size: 0.8em;
    color: var(--color-option-3);
}

.big-label {
    font-size: 0.8em;
    font-weight: bold;
    color: var(--color-option-3);
}

.label {
    color: var(--color-option-3);    
}

.big-number {
    color: var(--color-option-3);
    font-weight: bold;
    font-size: x-large;
}

.nowork {
    background-color: var(--color-option-2);
}

.work {
    background-color: var(--color-option-9);
}

.to {
    background-color: var(--color-option-12);
}

td {
    padding: 0;
}