<div class="card">
    <div class="d-flex justify-content-center align-items-center border-bottom" style="height: 40px;">
        <span style="z-index: 6;"><ng-content></ng-content></span>
    </div>
    <div class="d-flex flex-column">
        <div class="d-flex justify-content-center align-items-center border-bottom" style="height: 40px; font-size: 1rem; font-weight: bold;">
            <span class="label">Парк ГПА</span>
            <span class="big-label">{{park}}</span>
        </div>
        <div class="d-flex justify-content-center align-items-center flex-row flex-wrap w-100">
            <div class="d-flex flex-row align-items-center m-4">
                <span>В роботі :{{work}}</span>
            </div>
            <div class="d-flex flex-row align-items-center m-4">
                <span>В резерві :{{res}}</span>
            </div>
            <div class="d-flex flex-row align-items-center m-4">
                <span>В ремонті :{{rep}}</span>
            </div>
        </div>
    </div>
</div>
