<table>
    <!-- 1 -->
    <tr>
        <td>
            <app-psg-park-gpa [data]="stores" [key]="906023">УГЕРСЬКЕ</app-psg-park-gpa>            
        </td>
        <td colspan="2">
            <app-psg-park-gpa [data]="stores" [key]="906024">БІЛЬЧЕ-ВОЛИЦЬКО-УГЕРСЬКЕ</app-psg-park-gpa>
        </td>
        <td>
            <app-psg-park-gpa [data]="stores" [key]="906022">ДАШАВСЬКЕ</app-psg-park-gpa>
        </td>
        <td colspan="2">
            <app-psg-park-gpa [data]="stores" [key]="906021">ОПАРСЬКЕ</app-psg-park-gpa>
        </td>
        <td>
            <app-psg-park-gpa [data]="stores" [key]="903031">БОГОРОДЧАНСЬКЕ</app-psg-park-gpa>
        </td>
        <td>
            <app-psg-park-gpa [data]="stores" [key]="901032">МРИНСЬКЕ</app-psg-park-gpa>
        </td>
        <td>
            <app-psg-park-gpa [data]="stores" [key]="902031">ПРОЛЕТАРСЬКЕ</app-psg-park-gpa>
        </td>
    </tr>
    <!-- 2 -->
    <tr>
        <td>
            <div class="header card">КЦ-1</div>
        </td>
        <td>
            <div class="header card">КЦ-1</div>
        </td>
        <td>
            <div class="header card">КЦ-1A</div>
        </td>
        <td>
            <div class="header card">КЦ-1</div>
        </td>
        <td colspan="2">
            <div class="header card">КЦ-1</div>
        </td>
        <td>
            <div class="header card">КЦ-1</div>
        </td>
        <td>
            <div class="header card">КЦ-2</div>
        </td>
        <td>
            <div class="header card">КЦ-1</div>
        </td>
    </tr>
    <!-- 3 -->
    <tr>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002221" [eng_comp]="D_N_Switch"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp [data]="aggregs" [key]="6002241"  [eng_comp]="D_N_Switch"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp [data]="aggregs" [key]="6002271"  [eng_comp]="D_N_Switch"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002321"  [eng_comp]="D_N_Switch"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002292"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002299"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="3002391"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="1002454"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp [data]="aggregs" [key]="2002301"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
    </tr>
    <!-- 4 -->
    <tr>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002222"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp [data]="aggregs" [key]="6002242"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp [data]="aggregs" [key]="6002272"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002322"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002293"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002300"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp [data]="aggregs" [key]="3002392"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp [data]="aggregs" [key]="1002455"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp [data]="aggregs" [key]="2002302"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
    </tr>
    <!-- 5 -->
    <tr>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002223"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp [data]="aggregs" [key]="6002243"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp [data]="aggregs" [key]="6002273"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002323"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002294"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002301"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="3002393"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp [data]="aggregs" [key]="1002456"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp [data]="aggregs" [key]="2002303"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
    </tr>
    <!-- 6 -->
    <tr>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002224"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp [data]="aggregs" [key]="6002244"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp [data]="aggregs" [key]="6002274"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002324"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002296"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002302"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="3002395"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>

        </td>
        <td>

        </td>
    </tr>
    <!-- 7 -->
    <tr>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002225"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp [data]="aggregs" [key]="6002245"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <div>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" [checked]="!D_N_Switch" (click)="toggle_D_N()">
                    <label class="btn btn-outline-primary" for="btnradio1">Двигун</label>            
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" [checked]="D_N_Switch" (click)="toggle_D_N()">
                    <label class="btn btn-outline-primary" for="btnradio2">Нагнітач</label>        
                </div>
            </div>
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002325"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002298"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002303"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            
        </td>
        <td>
            <app-psg-park-gpa [data]="stores" [key]="901031">СОЛОХІВСЬКЕ</app-psg-park-gpa>
        </td>
        <td>
            <app-psg-park-gpa [data]="stores" [key]="902032">КЕГИЧІВСЬКЕ</app-psg-park-gpa>
        </td>
    </tr>
    <!-- 8 -->
    <tr>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002226"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp [data]="aggregs" [key]="6002246"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002326"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002304"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <div class="header card">КЦ-2</div>
        </td>
        <td>
            <div class="header card">КЦ-1</div>
        </td>
        <td>
            <div class="header card">КЦ-1</div>
        </td>
    </tr>
    <!-- 9 -->
    <tr>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002227"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp [data]="aggregs" [key]="6002247"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002305"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="3002397"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp [data]="aggregs" [key]="1002401"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="2002311"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
    </tr>
    <!-- 10 -->
    <tr>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002228"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp [data]="aggregs" [key]="6002248"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <div class="header card">КЦ-2</div>
        </td>
        <td>
            
        </td>
        <td colspan="2">
            <div class="header card">КЦ-2</div>
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="3002398"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp [data]="aggregs" [key]="1002402"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="2002312"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
    </tr>
    <!-- 11 -->
    <tr>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002229"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <div class="header card">КЦ-3</div>
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002251"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002311"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002313"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="3002399"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp [data]="aggregs" [key]="1002403"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="2002313"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
    </tr>
    <!-- 12 -->
    <tr>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002230"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp [data]="aggregs" [key]="6002261"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002252"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002312"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002314"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="3002400"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp [data]="aggregs" [key]="1002404"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            
        </td>
    </tr>
    <!-- 13 -->
    <tr>
        <td>
            <div class="header card">КЦ-2</div>
        </td>
        <td>
            <app-gpa-to-cp-kp [data]="aggregs" [key]="6002262"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002253"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            <app-gpa-to-cp-kp [data]="aggregs" [key]="1002405"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            
        </td>
    </tr>
    <!-- 14 -->
    <tr>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002231"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp [data]="aggregs" [key]="6002263"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002254"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            <app-gpa-to-cp-kp [data]="aggregs" [key]="1002406"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            
        </td>
    </tr>
    <!-- 15 -->
    <tr>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002232"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp [data]="aggregs" [key]="6002264"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp [data]="aggregs" [key]="6002255"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            <app-gpa-to-cp-kp [data]="aggregs" [key]="1002407"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            
        </td>
    </tr>
    <!-- 16 -->
    <tr>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002233"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp [data]="aggregs" [key]="6002265"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            <app-gpa-to-cp-kp [data]="aggregs" [key]="6002256"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            <app-gpa-to-cp-kp [data]="aggregs" [key]="1002408"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>

        </td>
    </tr>
    <!-- 17 -->
    <tr>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002234"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            
        </td>
        <td>
            <div class="header card">КЦ-4</div>
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            <app-gpa-to-cp-kp [data]="aggregs" [key]="1002409"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            
        </td>
    </tr>
    <!-- 18 -->
    <tr>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002235"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002281"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            <app-gpa-to-cp-kp [data]="aggregs" [key]="1002410"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            
        </td>
    </tr>
    <!-- 19 -->
    <tr>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002236"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>            
        </td>
        <td>
            
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002282"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
    </tr>
    <!-- 20 -->
    <tr>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002237"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>            
        </td>
        <td>
            
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002283"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
    </tr>
    <!-- 21 -->
    <tr>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002238"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>            
        </td>
        <td>
            
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002284"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
    </tr>
    <!-- 22 -->
    <tr>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002239"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>            
        </td>
        <td>
            
        </td>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002285"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
    </tr>
    <!-- 23 -->
    <tr>
        <td>
            <app-gpa-to-cp-kp  [data]="aggregs" [key]="6002240"  [eng_comp]="D_N_Switch"></app-gpa-to-cp-kp>            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
    </tr>
</table>



