.row-condesed {
    line-height: 10px;
    font-size: 0.8em;
    color: white;
}

.card {
    background-color: rgb(72, 93, 104);
    border-radius: 1em;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
}

.td-value {
    color: #0bbbef;
    font-size: 1.5em;
}