<ol>
    <li>
        <button type="button" class="btn btn-link" (click)="goToLink('Угода про ОБР.pdf')">Угода про ОБР</button>
    </li>
    <li>
        <button type="button" class="btn btn-link" (click)="goToLink('ТУ з ОГТСУ від 30.03.2022.pdf')">ТУ з ОГТСУ від 30.03.2022</button>
    </li>
    <li>
        <button type="button" class="btn btn-link" (click)="goToLink('ТО та ремонт ГПА та ДКС.pdf')">ТО та ремонт ГПА та ДКС</button>        
    </li>
    <li>
        <button type="button" class="btn btn-link" (click)="goToLink('Тарифи на послуги закачування-відбирання природного газу від 30.06.2022 №656.pdf')">Тарифи на послуги закачування-відбирання природного газу від 30.06.2022 №656</button>        
    </li>
    <li>
        <button type="button" class="btn btn-link" (click)="goToLink('СОУ 156 Безпека праці. Газонебезпечні роботи. Інструкція.pdf')">СОУ 156 Безпека праці. Газонебезпечні роботи. Інструкція</button>
    </li>
    <li>
        <button type="button" class="btn btn-link" (click)="goToLink('СОУ 115 Правила технічної експлуатації газосховищ України.pdf')">СОУ 115 Правила технічної експлуатації газосховищ України</button>
    </li>
    <li>
        <button type="button" class="btn btn-link" (click)="goToLink('СОУ 130 ПСГ Безповоротні пластові втрати.pdf')">СОУ 130 ПСГ Безповоротні пластові втрати</button>        
    </li>
    <li>
        <button type="button" class="btn btn-link" (click)="goToLink('СОУ 101 Безпека праці. Вогневі роботи. Інструкція.pdf')">СОУ 101 Безпека праці. Вогневі роботи. Інструкція</button>        
    </li>
    <li>
        <button type="button" class="btn btn-link" (click)="goToLink('СОУ 100 Структура, планування, облік та порядок списання газу на ВТВ.pdf')">СОУ 100 Структура, планування, облік та порядок списання газу на ВТВ</button>
    </li>
    <li>
        <button type="button" class="btn btn-link" (click)="goToLink('Регламент термінових повідомлень з додатками.PDF')">Регламент термінових повідомлень з додатками</button>
    </li>
    <li>
        <button type="button" class="btn btn-link" (click)="goToLink('Порядок обліку та розслідувань відмов ГПА на КС ПАТ УТГ.pdf')">Порядок обліку та розслідувань відмов ГПА на КС ПАТ УТГ</button>
    </li>
    <li>
        <button type="button" class="btn btn-link" (click)="goToLink('Національний план дій.pdf')">Національний план дій</button>
    </li>
    <li>
        <button type="button" class="btn btn-link" (click)="goToLink('Кодекс ГТС.pdf')">Кодекс ГТС</button>
    </li>
    <li>
        <button type="button" class="btn btn-link" (click)="goToLink('Кодекс газосховищ.pdf')">Кодекс газосховищ</button>
    </li>
    <li>
        <button type="button" class="btn btn-link" (click)="goToLink('Закон України про ринок природного газу _ від 09.04.2015 № 329-VIII.pdf')">Закон України про ринок природного газу _ від 09.04.2015 № 329-VIII</button>        
    </li>
    <li>
        <button type="button" class="btn btn-link" (click)="goToLink('Закон України про нафту і газ _ від 12.07.2001 № 2665-III.pdf')">Закон України про нафту і газ _ від 12.07.2001 № 2665-III</button>        
    </li>
    <li>
        <button type="button" class="btn btn-link" (click)="goToLink('Меморандум УТГ ОГТСУ.pdf')">Меморандум УТГ ОГТСУ</button>
    </li>
    <li>
        <button type="button" class="btn btn-link" (click)="goToLink('Додаткова угода №1 до Технічної угоди.pdf')">Додаткова угода №1 до Технічної угоди</button>
    </li>
    <li>
        <button type="button" class="btn btn-link" (click)="goToLink('Відстань до лінії фронту.pdf')">Відстань до лінії фронту</button>
    </li>
</ol>

