th, td {
    font-size: 0.7em;
}

.line0 {
    background-color: deepskyblue;
}
.line1 {
    background-color: #0063af;
}
.line2 {
    background-color: Coral;
}
.line3 {
    background-color: CadetBlue;
}
.line4 {
    background-color: #9b172d;
}
.line5 {
    background-color: #1d1d1b;
}
.line6 {
    background-color: #ffd744;
}
.line7 {
    background-color: #459534;
}

.cmd-btn {
    --bs-btn-padding-y: 0; 
    --bs-btn-padding-x: 0; 
}