<div class="d-flex justify-content-between flex-wrap  align-items-center border-bottom"> 

<div class="card">
	<app-linear-chart [key]="'7000001'" [data]="dataMap" [max]="30550000" 
	 [dt]="iso" [title]="'Оператор ГСУ, всього, млрд.м3'"></app-linear-chart>
</div>
<div class="card">
	<app-linear-chart [key]="'906023'" [data]="dataMap" [max]="1900000" 
	 [dt]="iso" [title]="'ПСГ Угерське, млрд.м3'"></app-linear-chart>
</div>
<div class="card">
	<app-linear-chart [key]="'906024'" [data]="dataMap" [max]="17050000" 
	 [dt]="iso" [title]="'ПСГ Більче-Волицько-Угерське, млрд.м3'"></app-linear-chart>
</div>
<div class="card">
	<app-linear-chart [key]="'906022'" [data]="dataMap" [max]="2150000" 
	 [dt]="iso" [title]="'ПСГ Дашавське, млрд.м3'"></app-linear-chart>
</div>
<div class="card">
	<app-linear-chart [key]="'906021'" [data]="dataMap" [max]="1920000" 
	 [dt]="iso" [title]="'ПСГ Опарське, млрд.м3'"></app-linear-chart>
</div>
<div class="card">
	<app-linear-chart [key]="'903031'" [data]="dataMap" [max]="2300000" 
	 [dt]="iso" [title]="'ПСГ Богородчанське, млрд.м3'"></app-linear-chart>
</div>
<div class="card">
	<app-linear-chart [key]="'901033'" [data]="dataMap" [max]="310000" 
	 [dt]="iso" [title]="'ПСГ Олишівське, млрд.м3'"></app-linear-chart>
</div>
<div class="card">
	<app-linear-chart [key]="'901032'" [data]="dataMap" [max]="1500000" 
	 [dt]="iso" [title]="'ПСГ Мринське, млрд.м3'"></app-linear-chart>
</div>
<div class="card">
	<app-linear-chart [key]="'901031'" [data]="dataMap" [max]="1300000" 
	 [dt]="iso" [title]="'ПСГ Солохівське, млрд.м3'"></app-linear-chart>
</div>
<div class="card">
	<app-linear-chart [key]="'902031'" [data]="dataMap" [max]="1000000" 
	 [dt]="iso" [title]="'ПСГ Пролетарське, млрд.м3'"></app-linear-chart>
</div>
<div class="card">
	<app-linear-chart [key]="'902032'" [data]="dataMap" [max]="700000" 
	 [dt]="iso" [title]="'ПСГ Кегичівське, млрд.м3'"></app-linear-chart>
</div>
<div class="card">
	<app-linear-chart [key]="'905031'" [data]="dataMap" [max]="420000" 
	 [dt]="iso" [title]="'ПСГ Краснопопівське, млрд.м3'"></app-linear-chart>
</div>
<div class="card">
	<app-linear-chart [key]="'???'" [data]="dataMap" [max]="400000" 
	 [dt]="iso" [title]="'ПСГ Вергунське, млрд.м3'"></app-linear-chart>
</div>


