.table-card {
    font-size: 0.8rem;
}
.table4-card {
    font-size: 0.8rem;
}
.svg-content{
    min-width: 300px;
}

th, td {
    padding: 0;
    padding-left: 2px;
    padding-right: 2px;
}

.td-value {
    text-align: right;
}

.table-header {
    background-color:rgb(161, 180, 190)
}

.table-black-round {
    border-radius: 10px;
}